input {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    border-bottom: 1px solid grey;
}
input:hover {
    background-color: rgba(121,85,72,.3);
    opacity: 0.6;
}
body {
    min-height: 100%;
}
html {
    height: 100%;
}
.normal {
    margin: 0%;
    padding: 0%;
}
.normal h1 {
    position: absolute;
    top: 112px;
    left: 200px;
    width: 100%;
    color: white;
    z-index: 2;
    font-size: 15px;
}
.normal h2 {
    color: white;
    z-index: 2;
    position: absolute;
    top: 34rem;
    box-sizing: border-box;
    left: 58px;
    font-size: 1rem;
    overflow: hidden;
}
.normal h3 {
    z-index: 2;
    position: absolute;
    top: 54%;
    left: 9%;
    color: white;
    font-weight: bold;
    font-size: 117%;
}
.normal p {
    z-index: 2;
    position: absolute;
    top: 38%;
    left: 9%;
    color: white;
}
#image {
    position: relative;
    width: 100%;
    height: 100%;
    display: inherit;
}
#overlay{
    margin: 0%;
    padding: 0%;
    position: absolute;
    z-index: 1;
    top: 0%;
    width: 100%;
    height: 100%;
    display: inline-block;
}
#arrow {
    position: absolute;
    z-index: 2;
    width: 8%;
    top: 5%;
    left: 20%;
    border: 1px solid white;
    border-radius: 10%;
    padding: 2%;
}
.form {
    height: 100%;
    padding: 5%;
}
.form p, h4, label {
    color: gray;
}
.form input {
    margin-bottom: 5%;
}
.formulaire {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: .25rem;
    border-bottom: 1px solid grey;
}
.contain {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
}
#line {
    display: block;
}
#Mr {
    margin: 0px 10px;
}
#Mme {
    margin: 0px 10px;
}
#Autre{
    margin: 0px 10px;
}
#inline {
    display: inline-block;
}
#space {
    margin-bottom: 5%;
}
@media (max-width: 768px) {
    .normal h1 {
        z-index: 2;
        position: absolute;
        top: 6%;
        left: 33%;
        font-size: 10px;
        color: white;
   }
    .normal p {
        z-index: 2;
        position: absolute;
        top: 38%;
        left: 9%;
        color: white;
        font-size: 12px;
   }
    .normal h2 {
        color: white;
        z-index: 2;
        position: absolute;
        top: 22rem;
        left: 18px;
        box-sizing: border-box;
        font-size: 14px;
        overflow: hidden;
   }
    .normal h3 {
        z-index: 2;
        position: absolute;
        top: 60%;
        left: 9%;
        color: white;
        font-weight: bold;
        font-size: 14px;
   }
}
@media (min-width: 768px) and (max-width: 1500px) {
    .normal h1 {
        z-index: 2;
        position: absolute;
        top: 7%;
        left: 34%;
        font-size: 10px;
        color: white;
   }
    .normal p{
        z-index: 2;
        position: absolute;
        top: 38%;
        left: 9%;
        color: white;
   }
    .normal h2{
        color: white;
        z-index: 2;
        position: absolute;
        top: 28rem;
        left: 37px;
        box-sizing: border-box;
        font-size: 1rem;
        overflow: hidden;
   }
    .normal h3 {
        z-index: 2;
        position: absolute;
        top: 54%;
        left: 9%;
        color: white;
        font-weight: bold;
        font-size: 117%;
   }
}